# Teamstandard .npmrc for infotek-teamet
# minimumReleaseAge styres av pnpm-workspace.yaml

# Registre
@navikt:registry=https://npm.pkg.github.com/
@nais:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
registry=https://registry.npmjs.org/

# Supply chain-sikkerhet
ignore-scripts=true
engine-strict=true
